
body{
    /* background: rgb(231, 230, 230); */
    background-image: url("achtergrond.jpg");
}

#body2{
    /* background: rgb(231, 230, 230); */
    background-image: url("achtergrond2.jpg");
}

header{
    margin-top: 20px;
}

#titlebox{
    text-align: center;
    align-items: center;
    margin-top: 180px;
}

#title{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 80px;
}

main{
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

#text{
    display: flex;
    justify-content: center;

}

.gedichtboxen{
    margin-left: 30%;
    margin-right: 30%;
    flex-grow: 1;
    text-align: center;
}

.gedichten{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#knoppendoos{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

#knoppen{
    height: 100px;
    margin-left: 400px;
    margin-right: 400px;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

#knop1a{
    background: rgb(4, 87, 119);
    width: 100px;
    height: 40px;
    flex-grow: 1;
    text-align: center;
}

#knop2a{
    background: rgb(4, 87, 119);
    width: 100px;
    height:40px;
    flex-grow: 1;
    text-align: center;
    display: block;
}

#knop3{
    background: rgb(206, 62, 62);
    width: 100px;
    height:40px;
    flex-grow: 1;
    text-align: center;
}

#knop1a:hover{
    background: rgb(3, 61, 83);
}

#knop2a:hover{
    background: rgb(3, 61, 83);
}

#knop3:hover{
    background: rgb(153, 47, 47);
}

#knop4{
    background: white;
    opacity: 0;
}

.knoptitel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.knoptitel2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
}